<% provide(:title, 'Overview') %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2 sidebar">
			<h3>Navigation</h3>
		    <ul class="nav nav-list nav-pills nav-stacked">
				<li><%= link_to "Voice Server Details", voiceserverdetails_path %></li>
				<li><%= link_to "Roster", roster_path %></li>
				<li><%= link_to "Raid Progression", progression_path %></li>
				<li><%= link_to "Request Bank Items", requestbankitems_path %></li>
				<li><%= link_to "Polls", polls_path %></li>
		    </ul>
		
		</div>
		<div class="span10 center hero-unit">
			<h1>News</h1>
			<h2>Whats been going on?</h2>
			<% if !current_user.nil? && current_user.admin? %>
				<%= link_to "Create new entry", overview_new_path, class: "btn" %>
			<%end%>
			
			<% @news.each do |entry| %>
			<div>
				<%= entry.entry%>
				<p>
				Created by <%= entry.user%> <%= entry.created_at.pretty %>
				<p>
				<%if entry.created_at + 5.seconds < entry.updated_at%>
					Last editted <%= entry.updated_at.pretty %>
				<%end%>
				<% if !current_user.nil? && current_user.admin? %>
					<%= link_to "Edit entry", overview_edit_path(:id => entry.id), class: "btn" %>
				<%end%>
			</div>
			<%end%>
		</div>
	</div>
</div>
